@font-face {
    font-family: 'Title';
    src: url('assets/fonts/Moderniz.otf') format('opentype');
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffff;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 10vw;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.row {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: Title;
  font-size: 3vw;
}

.title-container {
  border: 1px solid black;
  height: 20vw;
  width: 80%;
  border-radius: 40px;
  margin-top: 1vw;
  background-color: #feffa989;
  align-self: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #1d1d1d;
    background-color: #f7f7f7;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
